/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Basic Styles */
:root {
  --theme-color: #0a0a0a;

}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.btn {
  background-color: var(--theme-color);
  /* ... */
}

/* Add some global styles for links */
a {
  color: #E0E0E0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #A0AEC0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}



button:hover {
  opacity: 0.8;
}


/* styles/Introduction.tsx*/

.phone-mockup-container {
  width: 560px;
  height: auto;
}

.phone-mockup-container img {
  width: 100%;
  height: auto;
}

/* styles/Header.tsx */

svg [Attributes] {
  width: 24;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:is(.dark .dark\:border-slate-200\/10) {
  border-color: #e2e8f01a;
}



/* You can adjust the width and height values inside the media query to fit your desired logo size on mobile devices */
