/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Basic Styles */
:root {
  --theme-color: #0a0a0a;
  --geist-page-width-with-margin: calc(var(--geist-page-width) + var(--geist-page-margin) * 2);
  --geist-page-width: 1000px;
  --geist-page-margin: var(--geist-space-gap);
  --geist-space-gap: 24px;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;

}



.btn {
  background-color: var(--theme-color);
  /* ... */
}

/* Add some global styles for links */
a {
  color: #E0E0E0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #A0AEC0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Add some global styles for buttons */
button {
  cursor: pointer;
  border: none;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;

}

button:hover {
  opacity: 0.8;
}


/* styles/Introduction.tsx*/

.phone-mockup-container {
  width: 560px;
  height: auto;
}

.phone-mockup-container img {
  width: 100%;
  height: auto;
}

/* styles/Header.tsx */

svg [Attributes] {
  width: 24;
}



ul {
  display: block;
}



/* You can adjust the width and height values inside the media query to fit your desired logo size on mobile devices */
