/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

/* Basic Styles */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;

}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.dark {
  color-scheme: dark;
}




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.phone-mockup-container {
  width: 560px;
  height: auto;
}

.phone-mockup-container img {
  width: 100%;
  height: auto;
}


:is(.dark .dark\:border-slate-200\/10) {
  border-color: #e2e8f01a;
}

:is(.dark .dark\:highlight-white\/20) {
  box-shadow: inset 0 1px 0 0 #fff3;
}


:is(.dark .dark\:highlight-white\/5) {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}


:is(.dark .dark\:bg-yellow-500) {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 194, 73);
}

  
